@model AK_Website_Project.Models.ViewModels.Home.HomeViewModel
<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
<div class="col-xs-12" style="display:inline-block">
    @foreach (var category in Model.Categories)
    {
        <div class="dropdown" style="display:inline">
            <button class="btn btn-info dropdown-toggle" type="button" onclick="location.href='@Url.Action("View", "Category", new { id = category.CategoryId})'" data-toggle="dropdown">
                @category.Name
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var subCategory in category.SubCategories)
                {
                    <li><a href="/SubCategory/View/@subCategory.SubCategoryId">@subCategory.Name</a></li>
                }
            </ul>
        </div>
    }
    <hr />
</div>
