<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DatGuild - DB</title>

    <!-- JQuery -->
    <script src="~/Content/JQuery/jquery-3.2.1.js"></script>

    <!-- Bootstrap -->
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
</body>
</html>