@model AK_Website_Project.Models.ViewModels.Category.CategoryViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!--Fil d'ariane-->
    <h5>
        <a href="/Home/Index">Home</a>
        | <a href="@string.Format("/Category/View/" + Model.CategoryId)">@Model.Name</a>
    </h5>
</div>

<h2>@Model.Name</h2>
<div class="container-fluid">
    <script>
        $(document).ready(function () {

            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);

            //jQuery DataTables initialization
            $('#catSearchTable').DataTable({
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "orderMulti": false,
                "autoWidth": false,
                "dom": '<"top"i>rt<"bottom"lp><"clear">',
                "ajax": {
                    "url": "/Category/LoadDataTable/" + id,
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": false },
                    { "data": "SubCategoryName", "name": "SubCategoryName", "autoWidth": false },
                    { "data": "QualityName", "name": "QualityName", "autoWidth": false },
                ]
            });

            //Custom search on the datatable here
            oTable = $('#catSearchTable').DataTable();
            $('#btnSearch').click(function () {
                //Apply search for Item Name // DataTable column index 0
                oTable.columns(0).search($('#txtItemName').val());
                //hit search on server
                oTable.draw();
            });
        });
    </script>

    <div class="form-group">
        <div class="img-rounded">
            <div class="col-xs-12" style="background-color:black;">
                <h4 style="background-color:black">
                    <label style="color:white">
                        Search Panel
                    </label>
                </h4>
                <table>
                    <tbody>
                        <tr>
                            <td style="color:white">Item Name</td>
                            <td><input type="text" id="txtItemName" /></td>
                            <td>
                                <input type="button" value="Search" id="btnSearch" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12" style="background-color:aliceblue">
                <table style="overflow: hidden" id="catSearchTable" class="table-responsive table table-striped table-hover nowrap">
                    <thead>
                        <tr>
                            <th>Item name</th>
                            <th>Sub Category</th>
                            <th>Quality Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
