@model AK_Website_Project.Models.ViewModels.Home.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <script>
        $(document).ready(function () {

            //jQuery DataTables initialization
            $('#homeSearchTable').DataTable({
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "orderMulti": false,
                "dom": '<"top"i>rt<"bottom"lp><"clear">',
                "ajax": {
                    "url": "/Home/LoadDataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "SubCategoryName", "name": "SubCategoryName", "autoWidth": true },
                    { "data": "QualityName", "name": "QualityName", "autoWidth": true },
                ]
            });

            //Custom search on the datatable here
            oTable = $('#homeSearchTable').DataTable();
            $('#btnSearch').click(function () {
                //Apply search for Item Name // DataTable column index 0
                oTable.columns(0).search($('#txtItemName').val());
                //hit search on server
                oTable.draw();
            });
        });
    </script>

    <div class="form-group">
        <div>
            <div class="col-xs-12" style="background-color:#f5f5f5;">
                <h4>Search Panel</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Item Name</td>
                            <td><input type="text" id="txtItemName" /></td>
                            <td>
                                <input type="button" value="Search" id="btnSearch" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table id="homeSearchTable" class="table-bordered table table-responsive table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Item name</th>
                            <th>Sub Category</th>
                            <th>Quality Level</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

